body {
  font-family: "Arial Black", Gadget, sans-serif;
}

.tense-main-caption {
  font-size: 2em;
  font-weight: bold;
}

.tense-caption {
  font-size: 1.3em;
  text-align: center;
}

.tense-description {
  padding: 1em;
}

.simple-tense {
}

.perfect-tense {
  color: #556B2F;
}

.progressive-tense {
  color: #B22222;
}
