body {
  font-family: Verdana, Geneva, sans-serif
}

.tense-main-caption {
  font-size: 2em;
  font-weight: bold;
}

.simple-tense-main-caption {
  color: #777;
}

.progressive-tense-main-caption {
  color: #D9534F;
}

.perfect-tense-main-caption {
  color: #5CB85C;
}

.perfect-continuous-tense-main-caption {
  color: #428BCA;
}

.tense-caption {
  font-size: 1.3em;
  text-align: center;
}

.tense-description {
  padding: 1em;
}

.tense-example {
  font-size: 0.9em;
  font-style: italic;
}

.simple-tense {
}

.progressive-tense {
}

.perfect-tense {
}

.perfect-continuous-tense {
}

.label-big {
  font-size: 0.8em;
}
